@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-image: url("../img/fondo.jpg");
  background-size: cover;
}

.button_logout {
  position: absolute;
  top: 40px;
  right: 50px;
  background-color: #333;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  width: 10%;
  text-decoration: none;
}

.button_edit {
  position: absolute;
  top: 100px;
  right: 50px;
  background-color: #333;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  width: 10%;
  text-decoration: none;
}

.button_mis_reservas {
  position: absolute;
  top: 160px;
  right: 50px;
  background-color: #333;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  width: 10%;
  text-decoration: none;
}

/* PANTALLA DE LOGIN */

.home_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.home_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
}
.home_title {
  color: white;
  font-size: 60px;
  margin-left: 20px;
}

.home_header p {
  color: white;
  font-size: 20px;
}

.home_section {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 40vh;
  width: 20%;
  margin-top: 50px;
  border-radius: 40px;
  padding: 40px;
}

.box_button {
  background-color: blue;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.box_label {
  width: 100%;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.box_input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
}

.box_container_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.box_container_button span {
  color: white;
  font-size: 15px;
}

/* PANTALLA DE REGISTRO */

.register_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.register_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 20vh;
  width: 100%;
}
.register_title {
  color: white;
  font-size: 60px;
  margin-left: 20px;
}

.register_header p {
  color: white;
  font-size: 20px;
}

.register_section {
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  height: 40vh;
  width: 50%;
  margin-top: 50px;
  border-radius: 40px;
  padding: 40px;
}

.register_box_button {
  background-color: blue;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.register_box_label {
  width: 100%;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.register_box_input {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 80%;
}

.register_box_container_button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.register_box_container_button span {
  color: white;
  font-size: 15px;
}

/* /libros */

.books_header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  margin-bottom: 10px;
}
.books_title {
  color: white;
  font-size: 60px;
  margin-left: 20px;
}

.books_header p {
  color: white;
  font-size: 20px;
}

.filter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.select_filter {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 20%;
}

.option_filter {
  padding: 10px;
  border-radius: 10px;
  width: 20%;
}

.input_filter {
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 40%;
}

.button_filter {
  background-color: #333;
  color: white;
  font-size: 18px;
  padding: 8px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  width: 15%;
  border: none;
}

.order {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
}

.order_label {
  height: 100%;
  color: white;
  font-size: 20px;
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.select_order {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 43%;
}

.option_order {
  padding: 10px;
  border-radius: 10px;
  width: 20%;
}

.button_order {
  background-color: #333;
  color: white;
  font-size: 18px;
  padding: 8px;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  width: 20%;
  border: none;
}

.books_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  justify-items: center;
  max-height: 100vh;
  width: 100vw;
  overflow-y: scroll;
}

.books_container::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
}

.books_container::-webkit-scrollbar-track {
  background: rgba(
    0,
    0,
    0,
    0.8
  ); /* Color de fondo de la barra de desplazamiento */
}

.books_container::-webkit-scrollbar-thumb {
  background: #888; /* Color del "pulgarcito" de la barra de desplazamiento */
  border-radius: 5px; /* Borde redondeado */
}

.book {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
  width: 500px;
  height: auto;
  padding: 20px;
  border-radius: 20px;
}

.book section {
  width: 50%;
}

.book_title {
  color: white;
  font-size: 24px;
}

.book_picture {
  width: 200px;
  height: 250px;
}

.book_info {
  padding: 0;
  color: white;
  font-size: 14px;
}

.book_info span {
  font-size: 18px;
  font-weight: bold;
}

.book_button {
  color: black;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  width: 60%;
}

/* Reserva */
.reserva_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
}

.reserva_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.reserva_section input {
  align-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  width: 60%;
  height: 30px;
}

.reserva_section_title {
  color: white;
  font-size: 60px;
  margin-left: 20px;
}

.reserva_section_text {
  color: white;
  font-size: 20px;
}

.reserva_container_buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 20vw;
}

.reserva_section_button {
  background-color: blue;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.reserva_section_button_volver {
  background-color: blue;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

/* Reserva exitosa */
.reserva_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50vh;
  width: 30vw;
}

.reserva_section_title {
  color: white;
  font-size: 60px;
  margin-left: 20px;
}

.reserva_section_text {
  color: white;
  font-size: 20px;
}

.reserva_section_button {
  background-color: blue;
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  width: 100%;
  text-decoration: none;
}

.reservas_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.table_container {
  background-color: #ffffff;
  padding: 20px;
  margin: 50px auto;
  width: 50vw;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
th {
  background-color: #f2f2f2;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}

.book_buttons_admin {
  color: black;
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  display: flex;
  width: 60%;
  text-decoration: none;
  background-color: white;
  justify-content: center;
}

.libro_edicion_registro_section {
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  height: 40vh;
  width: 50%;
  border-radius: 40px;
  padding: 40px;
  padding-bottom: 85px;
  flex-wrap: wrap;
  justify-content: center;
}

.register_box_label_books {
  width: 50%;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container_eliminar_usuario {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_eliminar_usuario {
  background-color: red;
  padding: 10px;
  border: none;
}

.box_error {
  color: red;
  font-size: 16px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.container_devolver_libro {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button_devolver_libro {
  background-color: blue;
  padding: 10px;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
