<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Biblioteca "Python"</title>
  </head>

  <body>
    <div class="home_container">
      <section class="books_header">
        <h1 class="books_title">Biblioteca "Python"</h1>

        <a href="/admin" class="button_logout">Volver a Reportes</a>
      </section>
      <div class="table_container">
        <h1>Usuarios</h1>
        <table class="table_usuarios">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Email</th>
              <th>Dirección</th>
              <th>Telefono</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>
            {% for usuario in data %}
            <tr>
              <td>{{ usuario.id_cliente }}</td>
              <td>{{ usuario.nombre }}</td>
              <td>{{ usuario.apellido }}</td>
              <td>{{ usuario.email }}</td>
              <td>{{ usuario.direccion }}</td>
              <td>{{ usuario.telefono}}</td>
              <td class="container_eliminar_usuario">
                <button class="button_eliminar_usuario">
                  <a
                    href="/admin_usuarios?accion=eliminar&id_cliente={{ usuario.id_cliente }}"
                    style="text-decoration: none; color: white"
                    >Eliminar</a
                  >
                </button>
              </td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
