<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <title>Biblioteca "Python"</title>
  </head>

  <body>
    <div class="home_container">
      <section class="books_header">
        <h1 class="books_title">Biblioteca "Python"</h1>

        <form class="order" action="/admin_libros?accion=crear" method="get">
          <button class="book_buttons_admin" type="submit">
            + Nuevo Libro
          </button>
        </form>

        <a href="/admin" class="button_logout">Volver a Reportes</a>
      </section>
      <table>
        <thead>
          <tr>
            <th>ID Reserva</th>
            <th>Nombre Cliente</th>
            <th>Nombre Libro</th>
            <th>Libros restantes</th>
            <th>Estado</th>
            <th>Fecha Reserva</th>
            <th>Fecha Devolución</th>
          </tr>
        </thead>
        <tbody>
          {% for usuario in usuarios %}
          <tr>
            <td>{{ reserva.reserva_id }}</td>
            <td>{{ reserva.cliente_nombre }}</td>
            <td>{{ reserva.libro_nombre }}</td>
            <td>{{ reserva.cantidad_disponible }}</td>
            <td>
              {{ "Prestado" if reserva.estado_reserva == 1 else "Devuelto" }}
            </td>
            <td>{{ reserva.fecha_prestamo }}</td>
            <td>
              {{ reserva.fecha_devolucion if reserva.estado_reserva == 1 else
              "Devuelto" }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>
