<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/favicon.webp') }}"
      type="image/webp"
    />
    <title>Biblioteca "Python"</title>
  </head>
  <body>
    <div class="home_container">
      <section class="home_header">
        <h1 class="home_title">Biblioteca "Python"</h1>
        <p>Trabajo integrador de Programación I</p>
      </section>
      <section class="reserva_section">
        <h2 class="reserva_section_title">Registro exitoso</h2>
        <p class="reserva_section_text">¡Tu cuenta ha sido creada con exito!</p>
        <a href="/" class="reserva_section_button">Iniciar sesión</a>
      </section>
    </div>
  </body>
</html>
